<div>
    <div id="deletePersonModalContent">
        <div class="modal-header">
            <h4 class="modal-title svModal-title">Ви дійсно бажаєте видалити персону?</h4>
        </div>
        <div class="modal-body">
            <h5 class="svModalContent" ng-bind="personGeneralInfoEditModalObj.name"></h5>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" ng-click="ok()">Видалити</button>
            <button class="btn btn-primary" ng-click="cancel()">Відміна</button>
        </div>
    </div>
</div>