<table class="table table-bordered mainPersonTable col-lg-12 col-md-12">
    <thead>
    <tr class="personTableHeaderRow crs-dflt">
        <th ng-repeat="data in tableHeaderDataObj" ng-bind="data"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="PersonTableContentRow crs-pntr" ng-repeat="data in personData" ng-class-odd="'odd-color-them'"
        ng-dblclick="showGeneralInfo(data)">
        <td>
            <a href="#/person/{{data.id}}" class="txt-decor-none" ng-bind="data.name"></a>
        </td>
        <td ng-bind="allMappedArrData.genderTypes[data.genderTypeId]"></td>
        <td ng-bind="data.begDate  | date: 'dd.MM.yyyy'"></td>
        <td ng-bind="allMappedArrData.personsTypes[data.personTypeId]"></td>
        <td ng-bind="data.resident | checkYesNo"></td>
        <td ng-bind="allMappedArrData.citizenCountry[data.citizenCountryId]"></td>
        <td ng-bind="data.docSeries + ':' + data.docNum"></td>
        <td ng-controller="ModalDemoCtrl">
            <div class="">
                <button class="btn btn-primary btn-xs border-radius-0 border-none"
                        data-toggle="modal" data-target="#editNewPersonModal" ng-click="pushPersonToObj(data)">
                    <span class="glyphicon glyphicon-pencil glyphicon-white"></span>
                </button>
                <button class="btn btn-primary btn-xs border-radius-0 border-none"
                        ng-click="open(data.name, data.id, $index)" data-toggle="modal" name="removePerson">
                    <span class="glyphicon glyphicon-trash glyphicon-white"></span>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>