<div class="container" ng-controller="PersonsCtrl">
    <div ng-show="!isShowGeneralInfo">
        <div class="svButtonContainer">
            <div class="col-lg-5 col-md-5 col-sm-5 pd-lf-0">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Пошук персони..." ng-model="searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
                <a ng-click="showSearch(true)" ng-show="!isMoreSearch">Show more search!!!</a>
                <a ng-click="showSearch(false)" ng-show="isMoreSearch">Hide more search!!!</a>
            </div>
            <button class="btn btn-primary border-radius-0 svCreateNewPerson border-none" data-toggle="modal"
                    data-target="#addNewPersonModal"><span class="glyphicon glyphicon-plus"></span>&nbsp;Додати персону</button>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-3" ng-include="'persons/personsSearchFilters.html'" ng-show="isMoreSearch">

            </div>
            <div class="col-lg-9 col-md-9" ng-include="'persons/personsTable.html'"></div>
        </div>
        <div class="row">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default" ng-click="getPrevData()">Prev</button>
                <button type="button" class="btn btn-default" ng-click="getNextData()">Next</button>
            </div>
        </div>
        <div ng-include="'persons/modals/editPersonModal/editPersonModal.html'"></div>
    </div>
    <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent">
            <div class="modal-header">
                <h4 class="modal-title svModal-title">Ви дійсно бажаєте видалити персону?</h4>
            </div>
            <div class="modal-body">
                <h5 class="svModalContent">{{name}}</h5>
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="ok()">Видалити</button>
                <button class="btn btn-primary" ng-click="cancel()">Відміна</button>
            </div>
        </script>
    </div>
    <div ng-include="'persons/modals/newPersonModal/addNewPersonModal.html'"></div>
    <person-content></person-content>
</div>