<table class="table table-bordered mainPersonTable">
    <thead>
    <tr class="personTableHeaderRow crs-dflt">
        <th ng-repeat="data in tableHeaderDataObj" ng-click="getOrderByPersonData(data.orderByKey)" ng-bind="data.name">
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="PersonTableContentRow crs-pntr" ng-repeat="data in personData" ng-class-odd="'odd-color-them'"
        ng-dblclick="showGeneralInfo(data)">
        <td>
            <a href="#/person/{{data.id}}" class="txt-decor-none" ng-bind="data.name"></a>
        </td>
        <td ng-bind="allMappedArrData.genderTypes[data.genderTypeId]"></td>
        <td ng-bind="data.begDate  | date: 'dd.MM.yyyy'"></td>
        <td ng-bind="allMappedArrData.personsTypes[data.personTypeId]"></td>
        <td ng-bind="data.resident | checkYesNo"></td>
        <td ng-bind="allMappedArrData.citizenCountry[data.citizenCountryId]"></td>
        <td ng-bind="data.docSeries + ': ' + data.docNum"></td>
        <td>
            <a class="btn btn-primary btn-xs border-radius-0 border-none" href="#/editPerson/{{data.id}}/general">
                <span class="glyphicon glyphicon-pencil glyphicon-white"></span>
            </a>
            <button class="btn btn-primary btn-xs border-radius-0 border-none"
                    data-target="#deletePersonModalContent" ng-click="pushPersonToObj(data)" data-toggle="modal">
                <span class="glyphicon glyphicon-trash glyphicon-white"></span>
            </button>
        </td>
    </tr>
    </tbody>
</table>