.mainPersonTable tbody tr:hover{
    background-color: lightcyan;
}
.PersonTableContentRow td{
    text-align: center
}
.svCreateNewPerson{
    float: right;
}
.svButtonContainer:after{
    content: "";
    display: table;
    clear: both;
}
.mainPersonTable{
    margin-top:15px;
}
.personTableHeaderRow th{
    color: #337ab7;
    text-align: center;
    font-weight:bold;
    padding:10px;
}
.PersonTableContentRow a:hover{
    cursor: pointer;
}
.svButtonContainerRow{
    padding-left: 25px;
}
.svAddressContainer{
    padding-left: 15px;
}
.svAddressContainer:after{
    content: "";
    display: block;
    clear: both;
}
.svAddressRegContainer:after{
    content: "";
    display: block;
    clear: both;
}
.svAddressPostContainer{
    margin-top: 15px;
}
.svAddressPostContainer:after{
    content: "";
    display: block;
    clear: both;
}
.svContactsContainer{
    padding-left: 15px;
    padding-right:15px;
    margin-top: 15px;
}
.svContactsContainer:after{
    content: "";
    display: block;
    clear: both;
}
.svAddressEditButton{
    float: right;
    margin-right: 5px;
}
.svAddressDeleteButton{
    float: right;
}
.svAddressFields{
    float: left;
    width: 92%;
}
.svAddressButtons{
    float: right;
    margin-right: 15px;
}
.svModal-title{
    text-align: center;
}
.svModalContent{
    text-align: center;
}
.general-info-text{
    border-bottom: 1px solid lightskyblue;
    border-left: 1px solid lightskyblue;
}
.svContactsCol-1{
    width:45%;
    float: left;
}
.svContactsCol-1 div.general-info-text{
    float: left;
    width:85%;
}
.svContactsCol-1 div .svContactButtons{
    float: right;
}
.svContactsCol-2{
     width:50%;
     float: right;
 }
.svContactsCol-2 div.general-info-text{
      float: left;
      width:85%;
}
.svContactsCol-2 div .svContactButtons{
    float: right;
}
.svContactsCol-2 div .label-font-size-16{
    display: block;
}
.svAddressHeader,.svContactsHeader{
    color: #2e6da4;
    font-weight:bold;
}
#svSearchPerson{
    float: left;
    width: 35%;
}

fieldset {
    padding: 0;
}

.form-group.col-md-2.col-lg-2 {
    padding: 0 5px;
}

.form-group.col-md-4.col-lg-4 {
    padding: 0 5px;
}

.addAddrs {
    color: #2d6aa0;
}

#addrsP {
    margin-left: 20px;
}


/*.mainPersonTable tbody tr td:nth-child(2){*/
    /*text-align: left;*/
/*}*/
th.mainPersonTable-col-name:hover{
    text-decoration: underline;
    cursor: pointer;
}
th.mainPersonTable-col-gender:hover{
    text-decoration: underline;
    cursor: pointer;
}
th.mainPersonTable-col-type:hover{
    text-decoration: underline;
    cursor: pointer;
}
th.mainPersonTable-col-resid:hover{
    text-decoration: underline;
    cursor: pointer;
}
th.mainPersonTable-col-citiz:hover{
    text-decoration: underline;
    cursor: pointer;
}
.pd-lf-0{
  padding-left: 0;
}
.pd-rt-15{
    padding-right: 15px;
}
.txt-decor-none{
    text-decoration: none;
}
.txt-decor-none:hover{
    text-decoration: none;
}
.crs-pntr{
      cursor: pointer;
  }
.crs-dflt{
    cursor: default;
}
.wtd-33{
      width: 20%;
  }
.wtd-32{
    width: 32%;
}
.dspl-inline{
    display: inline;
}
.form-control {
    padding: 5px 10px;
}
input.ng-invalid.ng-dirty {
    color:#a94442;
    border-color: #a94442;
    background-color: #f2dede;
}
input.ng-valid.ng-dirty {
    color:#3c763d;
    border-color: #3c763d;
    background-color: #dff0d8;
}