<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary only-border-radius-0">
                <div class="panel-heading clearfix only-border-radius-0 background-image-none">
                    <h4 class="modal-title" id="addNewPersonModalLabel">Додати новий документ</h4>
                </div>
                <form name="addPaperForm" class="form-group" ng-submit="addPap()" novalidate>
                    <div class="modal-body">
                        <div class="row">
                            <div class="form-group col-md-6 col-lg-6">
                                <label for="papsU">Виберіть тип документа:</label>
                                <select id="papsU" class="form-control border-radius-0"
                                        ng-model="usageId"
                                        ng-options="usages.id as usages.name for usages in papersUsages"
                                        ng-change="getTypePapersData(usageId)">
                                </select>
                            </div>
                            <div class="form-group  col-md-6 col-lg-6" ng-show="isUsageSelected">
                                <label for="papsT">Виберіть документ:</label>
                                <select id="papsT" class="form-control border-radius-0" ng-model="paperObj.paperTypeId"
                                        ng-options="types.id as types.name for types in papersTypes">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-8 col-lg-8">
                                <label>Документ виданий:</label>
                                <input type="text" class="form-control border-radius-0"
                                       ng-model="paperObj.docIssued" name="docIssued" ng-keypress="ukrValidator($event)"
                                       required>
                            </div>
                            <div class="form-group  col-md-4 col-lg-4">
                                <label class="col-lg-12 col-md-12 pd-lf-0">Виберіть дату видачі:</label>
                                <label class="">д:</label>
                                <input type="text" min="1" max="31" placeholder="день" maxlength="2"
                                       pattern="^([1-9]|[12]\d|3[01])$"
                                       ng-paste="$event.preventDefault()" ng-keydown="numericValidator($event)"
                                       class="form-control wtd-33 dspl-inline" id="dayAp"
                                       ng-model="personGeneralInfoAddModalObj.begDate.day" required>
                                <label class="">м:</label>
                                <input type="text" placeholder="місяць" maxlength="2" minlength="1"
                                       pattern="^([1-9]|1[012])$"
                                       ng-paste="$event.preventDefault()" ng-keydown="numericValidator($event)"
                                       class="form-control wtd-32 dspl-inline" id="monthAp"
                                       ng-model="personGeneralInfoAddModalObj.begDate.month" required>
                                <label class="">р:</label>
                                <input type="text" placeholder="рік" maxlength="4" minlength="4"
                                       ng-paste="$event.preventDefault()" ng-keydown="numericValidator($event)"
                                       class="form-control wtd-33 dspl-inline" id="yearAp"
                                       ng-model="personGeneralInfoAddModalObj.begDate.year" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group  col-md-3 col-lg-3">
                                <label>Введіть серію :</label>
                                <input type="text" class="form-control border-radius-0" placeholder="Серія"
                                       ng-model="paperObj.docSeries" name="docSeries" required>
                            </div>
                            <div class="form-group  col-md-3 col-lg-3">
                                <label>Введіть номер:</label>
                                <input type="text" class="form-control border-radius-0" placeholder="Номер"
                                       ng-model="paperObj.docNum" name="docNum" ng-keydown="numericValidator($event)"
                                       required>
                            </div>
                            <div class="form-group  col-md-3 col-lg-3">
                                <label>Введіть PIN:</label>
                                <input type="text" class="form-control border-radius-0" placeholder="PIN"
                                       ng-model="paperObj.docPin" name="docPin" ng-keydown="numericValidator($event)">
                            </div>
                            <div class="form-group  col-md-3 col-lg-3">
                                <label>Введіть бал:</label>
                                <input type="text" class="form-control border-radius-0" placeholder="Бал"
                                       ng-model="paperObj.mark" name="mark" ng-keydown="numericValidator($event)">
                            </div>
                        </div>
                        <div class="row">
                            <br>

                            <div class="form-group col-lg-12">
                                <input id="isc" type="checkbox" ng-model="paperObj.isChecked"
                                       ng-true-value="1" ng-false-value="0" ng-change="">
                                <label for="isc">Документ відповідає оригіналу</label>
                            </div>
                            <div class="form-group col-lg-12">
                                <input id="isf" type="checkbox" ng-model="paperObj.isForeign"
                                       ng-true-value="1" ng-false-value="0" ng-change="">
                                <label for="isf">Документ іноземного зразка</label>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button ng-disabled="addPaperForm.$invalid" class="btn btn-primary border-radius-0 border-none"
                                ng-click="goToZno()">Далі
                        </button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>