.addPap{}

.general-info-item{}
.only-border-radius-0{}
.background-image-none{}
.border-none{ border: none;}
.label-font-size-16{}
.border-radius-0{border-radius: 0; transition: none; background-image: none;}
.text-center{}
.pull-left{}
.pull-right{}

.fade{}
.close{}

.btn{}
.material-btn{}

.modal{}
.modal-lg{}
.modal-dialog{}
.modal-content{}
.modal-header{}
.modal-title{}
.modal-body{}
.modal-footer{}
.custom-modal-header{}

.form-control{}
.form-group{}

