<div class="modal fade" id="editNewPersonModal2" tabindex="-1" role="dialog" aria-labelledby="editNewPersonModal2"
     aria-hidden="true" ng-controller="EditNewPersonModalCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editNewPersonModalLabel2">Редагувати людину</h4>
            </div>
            <div class="modal-body">
                <form name="editNewPersonModalForm2" role="form" ng-submit="editNewPerson()" class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="sub1">Прізвище</label>
                            <input type="text" class="form-control" id="sub1" ng-model="tempModalPerson2.firstName" value="{{tempModalPerson2.firstName}}">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="sub2">Імя</label>
                            <input type="text" class="form-control" id="sub2" ng-model="tempModalPerson2.surname" value="{{tempModalPerson2.surname}}">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="sub3">По-батькові</label>
                            <input type="text" class="form-control" id="sub3" ng-model="tempModalPerson2.fatherName" value="{{tempModalPerson2.fatherName}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="sub4">Місце Народження</label>
                            <input type="text" class="form-control" id="sub4" ng-model="tempModalPerson2.birthPlace" value="{{tempModalPerson2.birthPlace}}">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="sub5">Дата Народження:</label>
                            <input type="date" class="form-control" id="sub5" ng-model="tempModalPerson2.begDate" value="{{tempModalPerson2.begDate | date: 'yyyy-MM-dd'}}">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-lg-3">
                            <label for="sub9">Громадянство:</label>
                            <select class="form-control" id="sub9" ng-model="tempModalPerson2.citizenCountryId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in citizenCountryArr" value="{{citizenCountry2[tempModalPerson2.citizenCountryId]}}">
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="sub10">Громадянський стан:</label>
                            <select id="sub10" class="form-control" ng-model="tempModalPerson2.marriedTypeId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in marriedTypeArr" value="{{marriedType2[tempEditPersonObg.marriedTypeId]}}">
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="sub11">Стать:</label>
                            <select id="sub11" class="form-control" ng-model="tempModalPerson2.genderTypeId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in genderTypesArr" value="{{genderTypes2[tempModalPerson2.genderTypeId]}}">
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="sub12">Зайнятість:</label>
                            <select id="sub12" class="form-control" ng-model="tempModalPerson2.personTypeId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in personsTypesArr" value="{{personsTypes2[tempModalPerson2.personTypeId]}}">
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="sub23">Шлях до фото</label>
                            <input type="text" class="form-control" id="sub23" ng-model="tempModalPerson2.photo" value="{{tempModalPerson2.photo}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="sub6">Військовозобовязаний:</label>
                            <input id="sub6" type="checkbox" class="checkbox-inline" ng-model="tempModalPerson2.isMilitary" ng-true-value="1"
                                   ng-false-value="0" ng-change="" value="{{tempModalPerson2.isMilitary}}">    <!--</select>-->
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="sub7">Гуртожиток:</label>
                            <input id="sub7" type="checkbox" class="checkbox-inline" ng-model="tempModalPerson2.isHotel" ng-true-value="1"
                                   ng-false-value="0" ng-change="" value="{{tempModalPerson2.isHotel}}">    <!--</select>-->
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="sub8">Резидент:</label>
                            <input id="sub8" type="checkbox" class="checkbox-inline" ng-model="tempModalPerson2.resident" ng-true-value="1"
                                   ng-false-value="0" ng-change="" value="{{tempModalPerson2.resident}}">    <!--</select>-->
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="" for="ser2">Серія :</label>
                            <input type="text" class="form-control" id="ser2" ng-model="tempModalPerson2.docSeries" value="{{tempModalPerson2.docSeries}}">
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="" for="num2">№ :</label>
                            <input type="text" class="form-control" id="num2" ng-model="tempModalPerson2.docNum" value="{{tempModalPerson2.docNum}}">
                        </div>

                    </div>

                    <input type="submit" class="btn btn-primary btn-sm" value="Зберегти зміни">
                </form>
            </div>

        </div>
    </div>
</div>