<div id="addAddress" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary only-border-radius-0">
                <div class="panel-heading clearfix only-border-radius-0 background-image-none">
                    <h4 class="modal-title">Додати адресу та контакти</h4>
                </div>
                <form name="addAddressForm" role="form" ng-submit="addAddress()" class="form-group">
                    <div class="panel-body">
                        <h4 class="lnu-person-addrs-form-titles">Адреса реєстрації</h4>
                        <fieldset title="Виберіть населений пункт"  class="col-md-12 col-lg-12 lnu-person-addrs-form-fieldset">
                            <div class="form-group col-md-4 col-lg-4  lnu-person-addrs-form">
                                <label>Введіть індекс:</label>
                                <input type="text" class="form-control border-radius-0" placeholder="Індекс"
                                       ng-model="addressObj.zipCode" name="zipCode" autofocus>
                            </div>
                            <div class="form-group col-md-4 col-lg-4 lnu-person-addrs-form">
                                <label for="addrsC">Виберіть країну:</label>
                                <select id="addrsC" class="form-control border-radius-0" ng-model="addressData.country"
                                        ng-options="countries as countries.name for countries in addressData.countries"
                                        ng-change="getRegionAddressData(addressData.country.id)">
                                </select>
                            </div>
                            <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isCountrySelected">
                                <label for="addrsR">Виберіть область:</label>
                                <select id="addrsR" class="form-control border-radius-0" ng-model="addressData.region"
                                        ng-options="regions as regions.name for regions in addressData.regions"
                                        ng-change="getCdTypesAddressData(addressData.region.id)">
                                </select>
                            </div>
                            <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isRegionSelected">
                                <label for="addrsCD">Виберіть підпорядкування:</label>
                                <select id="addrsCD" class="form-control border-radius-0" ng-model="addressData.cdType"
                                        ng-options="cdTypes as cdTypes.name for cdTypes in addressData.cdTypes"
                                        ng-change="getDistrictAddressData(addressData.cdType.id)">
                                </select>
                            </div>
                            <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="iscdTypeSelected">
                                <label for="addrsD">Виберіть місто/район:</label>
                                <select id="addrsD" class="form-control border-radius-0" ng-model="addressData.district"
                                        ng-options="districts as districts.name for districts in addressData.districts"
                                        ng-change="getVTypeAddressData(addressData.district.id)">
                                </select>
                            </div>
                            <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isDistrictSelected">
                                <label for="addrsV">Виберіть містечко/село/смт</label>
                                <select id="addrsV" class="form-control border-radius-0" ng-model="addressData.vType"
                                        ng-options="vTypes as vTypes.name for vTypes in addressData.vTypes"
                                        ng-change="getVillageAddressData(addressData.vType.id)">
                                </select>
                            </div>
                            <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isVTypeSelected">
                                <label for="addrsVi">Виберіть назву міста/селища:</label>
                                <select id="addrsVi" class="form-control border-radius-0" ng-model="addressData.village"
                                        ng-options="villages as villages.name for villages in addressData.villages"
                                        ng-change="getAdditionAddressData(addressData.village.id)">
                                </select>
                            </div>
                            <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isVillageSelected">
                                <label for="addrsAd">Додатково:</label>
                                <select id="addrsAd" class="form-control border-radius-0" ng-model="addressData.addition"
                                        ng-options="additions as additions.name for additions in addressData.additions"
                                        ng-change="bindAdditionId(addressData.addition.id)">
                                </select>
                            </div>
                        </fieldset>
                        <fieldset title="Додайте адресу"  class="col-md-12 col-lg-12 lnu-person-addrs-form-fieldset">
                            <div class="form-group col-md-2 col-lg-2 lnu-person-addrs-form">
                                <label for="typeStr">Тип вулиці:</label>
                                <select id="typeStr" class="form-control border-radius-0" ng-model="addressObj.streetTypeId"
                                        ng-options="streetType as streetType.name for streetType in addressData.streetTypes">
                                </select>
                            </div>
                            <div class="form-group  col-md-6 col-lg-6 lnu-person-addrs-form">
                                <label>Введіть назву вулиці/проспекту:</label>
                                <input type="text" class="form-control border-radius-0" placeholder="Назва"
                                       ng-model="addressObj.street" name="street" autofocus>
                            </div>
                            <div class="form-group  col-md-2 col-lg-2 lnu-person-addrs-form">
                                <label>№ будинка:</label>
                                <input type="text" class="form-control border-radius-0" placeholder="Будинок"
                                       ng-model="addressObj.house" name="house">
                            </div>
                            <div class="form-group  col-md-2 col-lg-2 lnu-person-addrs-form">
                                <label>№ квартири:</label>
                                <input type="text" class="form-control border-radius-0" placeholder="Квартира"
                                       ng-model="addressObj.apartment" name="apartment">
                            </div>
                        </fieldset>
                        <h4 class="lnu-person-addrs-form-titles">Поштова адреса</h4>
                        <div class="form-group">
                            <input id="lnu-person-addrs-form-postaddrs-checkbox-id" type="checkbox" ng-model="addressData.isPostAddress"
                                   ng-true-value="false" ng-false-value="true">
                            <label for="lnu-person-addrs-form-postaddrs-checkbox-id">Така ж, як адреса прописки</label>
                        </div>
                        <div ng-show="addressData.isPostAddress">
                            <fieldset title="Виберіть населений пункт"  class="col-md-12 col-lg-12 lnu-person-addrs-form-fieldset">
                                <div class="form-group col-md-4 col-lg-4 lnu-person-addrs-form">
                                    <label>Введіть індекс:</label>
                                    <input type="text" class="form-control border-radius-0" placeholder="Індекс"
                                           ng-model="postAddressObj.zipCode" name="zipCodePost" autofocus>
                                </div>
                                <div class="form-group col-md-4 col-lg-4 lnu-person-addrs-form">
                                    <label for="addrsCPost">Виберіть країну:</label>
                                    <select id="addrsCPost" class="form-control border-radius-0" ng-model="addressData.countryPost"
                                            ng-options="countriesPost as countriesPost.name for countriesPost in addressData.countriesPost"
                                            ng-change="getRegionPostAddressData(addressData.countryPost.id)">
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isCountryPostSelected">
                                    <label for="addrsRPost">Виберіть область:</label>
                                    <select id="addrsRPost" class="form-control border-radius-0" ng-model="addressData.regionPost"
                                            ng-options="regionsPost as regionsPost.name for regionsPost in addressData.regionsPost"
                                            ng-change="getCdTypesPostAddressData(addressData.regionPost.id)">
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isRegionPostSelected">
                                    <label for="addrsCDPost">Виберіть підпорядкування:</label>
                                    <select id="addrsCDPost" class="form-control border-radius-0" ng-model="addressData.cdTypePost"
                                            ng-options="cdTypesPost as cdTypesPost.name for cdTypesPost in addressData.cdTypesPost"
                                            ng-change="getDistrictPostAddressData(addressData.cdTypePost.id)">
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="iscdTypePostSelected">
                                    <label for="addrsDPost">Виберіть місто/район:</label>
                                    <select id="addrsDPost" class="form-control border-radius-0" ng-model="addressData.districtPost"
                                            ng-options="districtsPost as districtsPost.name for districtsPost in addressData.districtsPost"
                                            ng-change="getVTypePostAddressData(addressData.districtPost.id)">
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isDistrictPostSelected">
                                    <label for="addrsVPost">Виберіть містечко/село/смт</label>
                                    <select id="addrsVPost" class="form-control border-radius-0" ng-model="addressData.vTypePost"
                                            ng-options="vTypesPost as vTypesPost.name for vTypesPost in addressData.vTypesPost"
                                            ng-change="getVillagePostAddressData(addressData.vTypePost.id)">
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isVTypePostSelected">
                                    <label for="addrsViPost">Виберіть назву міста/селища:</label>
                                    <select id="addrsViPost" class="form-control border-radius-0" ng-model="addressData.villagePost"
                                            ng-options="villagesPost as villagesPost.name for villagesPost in addressData.villagesPost"
                                            ng-change="getAdditionPostAddressData(addressData.villagePost.id)">
                                    </select>
                                </div>
                                <div class="form-group  col-md-4 col-lg-4 lnu-person-addrs-form" ng-show="isVillagePostSelected">
                                    <label for="addrsAdPost">Додатково:</label>
                                    <select id="addrsAdPost" class="form-control border-radius-0" ng-model="addressData.additionPost"
                                            ng-options="additionsPost as additionsPost.name for additionsPost in addressData.additionsPost"
                                            ng-change="bindAdditionPostId(addressData.additionPost.id)">
                                    </select>
                                </div>
                            </fieldset>
                            <fieldset title="Додайте адресу"  class="col-md-12 col-lg-12 lnu-person-addrs-form-fieldset">
                                <div class="form-group col-md-2 col-lg-2  lnu-person-addrs-form">
                                    <label for="typeStrPost">Тип вулиці:</label>
                                    <select id="typeStrPost" class="form-control border-radius-0" ng-model="postAddressObj.streetTypeId"
                                            ng-options="streetTypePost as streetTypePost.name for streetTypePost in addressData.streetTypesPost">
                                    </select>
                                </div>
                                <div class="form-group col-md-6 col-lg-6 lnu-person-addrs-form">
                                    <label>Введіть назву вулиці/проспекту:</label>
                                    <input type="text" class="form-control border-radius-0" placeholder="Назва"
                                           ng-model="postAddressObj.street" name="streetPost" autofocus>
                                </div>
                                <div class="form-group col-md-2 col-lg-2  lnu-person-addrs-form">
                                    <label>№ будинка:</label>
                                    <input type="text" class="form-control border-radius-0" placeholder="Будинок"
                                           ng-model="postAddressObj.house" name="housePost">
                                </div>
                                <div class="form-group  col-md-2 col-lg-2  lnu-person-addrs-form">
                                    <label>№ квартири:</label>
                                    <input type="text" class="form-control border-radius-0" placeholder="Квартира"
                                           ng-model="postAddressObj.apartment" name="apartmentPost">
                                </div>
                                // date for address
                                <div class="form-group col-lg-4 col-md-4">
                                    <label class="col-lg-12 col-md-12 pd-lf-0">Дата поселення за адресою:</label>
                                    <label class="">д:</label>
                                    <input type="text" min="1" max="31" placeholder="день" maxlength="2" pattern="^([1-9]|[12]\d|3[01])$"
                                           ng-paste="$event.preventDefault()" ng-keydown="numericValidator($event)"
                                           class="form-control wtd-33 dspl-inline" id="dayAp"
                                           ng-model="addressObj.begDate.day" required>
                                    <label class="">м:</label>
                                    <input type="text" placeholder="місяць" maxlength="2" minlength="1"  pattern="^([1-9]|1[012])$"
                                           ng-paste="$event.preventDefault()" ng-keydown="numericValidator($event)"
                                           class="form-control wtd-32 dspl-inline" id="monthAp"
                                           ng-model="addressObj.begDate.month" required>
                                    <label class="">р:</label>
                                    <input type="text" placeholder="рік" maxlength="4" minlength="4"
                                           ng-paste="$event.preventDefault()" ng-keydown="numericValidator($event)"
                                           class="form-control wtd-33 dspl-inline" id="yearAp"
                                           ng-model="addressObj.begDate.year" required>
                                </div>
                                // need to add material activities
                            </fieldset>
                        </div>
                        <h4 class="lnu-person-addrs-form-titles">Контакти</h4>
                        <fieldset title="Додайте контакти" class="col-md-12 col-lg-12 lnu-person-addrs-form-fieldset">
                            <div class="form-group col-md-2 col-lg-2  lnu-person-addrs-form">
                                <label for="typeContact">Тип контакту:</label>
                                <select id="typeContact" class="form-control border-radius-0 lnu-person-addrs-form-contact" ng-model="contactsObj.contactObj.contactTypeId"
                                        ng-options="contactType.id as contactType.name for contactType in addressData.contactTypes">
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-lg-3  lnu-person-addrs-form">
                                <label for="typeContactValue">Значення контакту:</label>
                                <input id="typeContactValue" type="text" class="form-control border-radius-0 lnu-person-addrs-form-contact" placeholder="значення"
                                       ng-model="contactsObj.contactObj.value" name="contact1" autofocus>
                            </div>
                            <div class="form-group col-md-1 col-lg-1  lnu-person-addrs-form contact-button">
                                <button class="btn btn-default border-none material-btn contact-add-button" title="Додати ще один контакт"
                                        ng-click="contact2=true">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </button>
                            </div>
                            <div ng-show="contact2">
                                <div class="form-group col-md-2 col-lg-2  lnu-person-addrs-form">
                                    <label for="typeContact2">Тип контакту:</label>
                                    <select id="typeContact2" class="form-control border-radius-0 lnu-person-addrs-form-contact" ng-model="contactsObj.contactObj2.contactTypeId"
                                            ng-options="contactType.id as contactType.name for contactType in addressData.contactTypes">
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-lg-3  lnu-person-addrs-form">
                                    <label for="typeContactValue2">Значення контакту:</label>
                                    <input id="typeContactValue2" type="text" class="form-control border-radius-0 lnu-person-addrs-form-contact" placeholder="значення"
                                           ng-model="contactsObj.contactObj2.value" name="contact2" autofocus>
                                </div>
                                <div class="form-group col-md-1 col-lg-1  lnu-person-addrs-form contact-button">
                                    <button class="btn btn-default border-none material-btn contact-add-button" title="Додати ще один контакт" ng-click="contact3=true">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                            <div ng-show="contact3">
                                <div class="form-group col-md-2 col-lg-2  lnu-person-addrs-form">
                                    <label for="typeContact3">Тип контакту:</label>
                                    <select id="typeContact3" class="form-control border-radius-0 lnu-person-addrs-form-contact" ng-model="contactsObj.contactObj3.contactTypeId"
                                            ng-options="contactType.id as contactType.name for contactType in addressData.contactTypes">
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-lg-3  lnu-person-addrs-form">
                                    <label for="typeContactValue3">Значення контакту:</label>
                                    <input id="typeContactValue3" type="text" class="form-control border-radius-0 lnu-person-addrs-form-contact" placeholder="значення"
                                           ng-model="contactsObj.contactObj3.value" name="contact3" autofocus>
                                </div>
                                <div class="form-group col-md-1 col-lg-1  lnu-person-addrs-form contact-button">
                                    <button class="btn btn-default border-none material-btn contact-add-button" title="Додати ще один контакт">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">

                        <button ng-disabled="addAddressForm.$invalid" class="btn btn-primary border-radius-0 border-none" ng-click="goToPapers()">Далі</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

