<div class="container" ng-show="isLoggedIn && isShowGeneralInfo" ng-controller="PersonsCTRL">
        <section>
            <ul class="nav nav-tabs">
                <li ng-class="{active:isPersonTabSelected(1)}">
                    <a href="" ng-click="selectPersonTab(1)">Персона</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(2)}">
                    <a href="" ng-click="selectPersonTab(2)">Адреса</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(3)}">
                    <a href="" ng-click="selectPersonTab(3)">Контакти</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(4)}">
                    <a href="" ng-click="selectPersonTab(4)">Англійська</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(5)}">
                    <a href="" ng-click="selectPersonTab(5)">Олімпіади/МАН</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(6)}">
                    <a href="" ng-click="selectPersonTab(6)">Документи</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(7)}">
                    <a href="" ng-click="selectPersonTab(7)">ЗНО</a>
                </li>
            </ul>
        </section>
        <div ng-include="'persons/general/generalView.html'"></div>
        <div ng-include="'persons/address/addressView.html'"></div>
        <div ng-include="'persons/contacts/contactsView.html'"></div>
        <div ng-include="'persons/documents/documentsView.html'"></div>
        <div ng-include="'persons/foreigners/foreignersView.html'"></div>
        <div ng-include="'persons/man/MANView.html'"></div>
        <div ng-include="'persons/zno/ZNOView.html'"></div>


</div>