.custom-navbar-header-for-persons{
    display: inline;
    margin-right: 15px;
}
.max-width-109{
    max-width: 109%;
}
.persons-header-text{
    cursor: pointer;
    float: none;
    display: inline;

}
.persons-header-text:hover{
    cursor: pointer;
    float: none;
    display: inline;
    color: #1e86ba;

}
.persons-header-text-active{
    font-weight: bold;

}

.custom-nav-person-header {
    color: #ffffff;
    background-color: cadetblue;
    background-image: none;
    border-color: cadetblue;
}
.color-white{
    color: #ffffff;
}
.custom-navbar-toggle{
    background-color: #337ab7;
    color: #ffffff;
}
