<div class="container" ng-show="isLoggedIn && isShowGeneralInfo" ng-controller="PersonsCTRL">
    <div class="container">
        <button ng-click="backToTheTable()" class="pull-right btn btn-primary background-image-none border-radius-0">Назад</button>
        <div class="navbar-header">
            <div class="custom-navbar-header-for-persons">
                <img height="50em" width="38em" src="{{personGeneralInfoObj.photo}}">
            </div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav nav-pills">
                <li ng-class="{active:isPersonTabSelected(1)}">
                    <a href="" ng-click="selectPersonTab(1)">{{personGeneralInfoObj.name}}</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(2)}">
                    <a href="" ng-click="selectPersonTab(2)">Адреса/Контакти</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(6)}">
                    <a href="" ng-click="selectPersonTab(6)">Документи</a>
                </li>
                <li ng-class="{active:isPersonTabSelected(5)}">
                <a href="" ng-click="selectPersonTab(5)">Олімпіади/МАН/ЗНО</a>
                </li>

                <li ng-class="{active:isPersonTabSelected(4)}">
                    <a href="" ng-click="selectPersonTab(4)">ПІБ Іноземною</a>
                </li>
                <!--<li ng-class="{active:isPersonTabSelected(7)}">-->
                <!--<a href="" ng-click="selectPersonTab(7)">ЗНО</a>-->
                <!--</li>-->
                <li ng-class="{active:isPersonTabSelected(8)}">
                    <a href="" ng-click="selectPersonTab(8)">Бали</a>
                </li>
                <li>
                    <a href="" ng-click="backToTheTable()">Назад</a>
                </li>
            </ul>
        </div>
    </div>


    <div ng-include="'persons/general/generalView.html'"></div>
    <div ng-include="'persons/address/addressView.html'"></div>
    <div ng-include="'persons/contacts/contactsView.html'"></div>
    <div ng-include="'persons/documents/documentsView.html'"></div>
    <div ng-include="'persons/foreigners/foreignersView.html'"></div>
    <div ng-include="'persons/man/MANView.html'"></div>
    <div ng-include="'persons/zno/ZNOView.html'"></div>
    <div ng-include="'persons/mark/markView.html'"></div>
</div>