<div class="container" ng-show="isLoggedIn" ng-controller="PersonsTableCTRL">
    <div ng-show="!isShowGeneralInfo">

        <div><h3>Персони</h3></div>
        <div class="svButtonContainer"><button class="btn btn-primary border-radius-0 svCreateNewPerson">Додати персону</button> </div>

        <table class="table table-bordered mainPersonTable" ng-controller="personInfoCtrl">
            <thead>
            <tr class="personTableHeaderRow">
                <th class="mainPersonTable-col-id">Id</th>
                <th class="mainPersonTable-col-name">ПІБ</th>
                <th class="mainPersonTable-col-gender">Стать</th>
                <th class="mainPersonTable-col-birth">Народження</th>
                <th class="mainPersonTable-col-type">Тип </th>
                <th class="mainPersonTable-col-resid">Резидент</th>
                <th class="mainPersonTable-col-citiz">Громадянство </th>
                <th class="mainPersonTable-col-doc">Особова справа</th>
                <th class="mainPersonTable-col-edit">Редагувати</th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="PersonTableContentRow" dir-paginate="data in tempPersonData | itemsPerPage: 10" ng-class-odd="'odd-color-them'" ng-dblclick="showGeneralInfo(data)">
                <td>{{data.personId}}</td>
                <td><a ng-click="showGeneralInfo(data)">{{data.name}}</a></td>
                <td>{{genderTypes2[data.genderTypeId]}}</td>
                <td>{{data.begDate}}</td>
                <td>{{personsTypes2[data.personTypeId]}}</td>
                <td>{{data.resident | checkYesNo}}</td>
                <td> <span ng-repeat="citizen in citizenCountry2" ng-if="data.citizenCountryId === citizen.id">
                        {{citizen.name}}
                    </span></td>
                <td>{{data.docNum + ':' + data.docSeries}}</td>
                <td ng-controller="ModalDemoCtrl">
                    <button class="btn btn-primary btn-xs border-radius-0" data-toggle="modal" data-target="#editAddressModal" ng-click="showGeneralInfo(data)"><span class="glyphicon glyphicon-pencil glyphicon-white"></span></button>
                    <button class="btn btn-primary btn-xs border-radius-0" ng-click="open(data.name, data.personId)" data-toggle="modal" name="removePerson"><span class="glyphicon glyphicon-trash glyphicon-white"></span></button>
                </td>
            </tr>
            </tbody>
        </table>

        <dir-pagination-controls template-url="Content/template/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
    <div ng-controller="ModalDemoCtrl">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <h3 class="modal-title">Ви дійсно бажаєте видалити персону?</h3>
            </div>
            <div class="modal-body">
              {{name}}
              {{id}}
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" ng-click="ok()">Видалити</button>
                <button class="btn btn-primary" ng-click="cancel()">Відміна</button>
            </div>
        </script>
        <!--    Buttons

        <button class="btn btn-default" ng-click="open()">Open me!</button>
        <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
        <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
        <div ng-show="selected">Selection from a modal: {{ selected }}</div>
        -->
    </div>

    <person-content></person-content>
</div>