<div class="container" id="addNewPersonModal">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary only-border-radius-0">
                <div class="panel-heading clearfix only-border-radius-0 background-image-none">
                    <h4 class="modal-title" id="addNewPersonModalLabel">Додати нову персону</h4>
                </div>
                <form name="addNewPersonModalForm" role="form" ng-submit="addNewPerson()" class="form-group">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4">
                                <label for="addNewPerson0">Прізвище</label>
                                <input type="text" name="addNewPerson0" class="form-control" id="addNewPerson0"
                                       maxlength="25" ng-paste="$event.preventDefault()"
                                       ng-model="personGeneralInfoAddModalObj.firstName" pattern="['а-яА-ЯіїєІЇЄ]{1,25}"
                                       placeholder="Введіть призвище" required>
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <label for="addNewPerson1">Імя</label>
                                <input type="text" name="addNewPerson1" class="form-control" id="addNewPerson1"
                                       maxlength="25" ng-paste="$event.preventDefault()"
                                       ng-model="personGeneralInfoAddModalObj.surname"  pattern="['а-яА-ЯіїєІЇЄ]{1,25}"
                                       placeholder="Введіть ім'я" required>
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <label for="addNewPerson2">По-батькові</label>
                                <input type="text" name="addNewPerson2" class="form-control" id="addNewPerson2"
                                       maxlength="25" ng-paste="$event.preventDefault()"
                                       ng-model="personGeneralInfoAddModalObj.fatherName" pattern="['а-яА-ЯіїєІЇЄ]{1,25}"
                                       placeholder="Введіть по-батькові" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-8 col-md-8">
                                <label for="sub4">Місце Народження</label>
                                <input type="text" class="form-control" id="sub4"   ng-paste="$event.preventDefault()"
                                       ng-model="personGeneralInfoAddModalObj.birthPlace"
                                       placeholder="Введіть місце народження" required>
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <label class="col-lg-12 col-md-12 pd-lf-0">Дата Народження</label>
                                <label class="">д:</label>
                                <input type="text" min="1" max="31" placeholder="день" maxlength="2" pattern="^([1-9]|[12]\d|3[01])$"
                                       ng-paste="$event.preventDefault()"
                                       class="form-control wtd-33 dspl-inline" id="dayAp"
                                       ng-model="personGeneralInfoAddModalObj.begDate.day" required>
                                <label class="">м:</label>
                                <input type="text" placeholder="місяць" maxlength="2" minlength="1"  pattern="^([1-9]|1[012])$"
                                       ng-paste="$event.preventDefault()"
                                       class="form-control wtd-32 dspl-inline" id="monthAp"
                                       ng-model="personGeneralInfoAddModalObj.begDate.month" required>
                                <label class="">р:</label>
                                <input type="text" placeholder="рік" maxlength="4" minlength="4"
                                       ng-paste="$event.preventDefault()"
                                       class="form-control wtd-33 dspl-inline" id="yearAp"
                                       ng-model="personGeneralInfoAddModalObj.begDate.year" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-3 col-md-3">
                                <label for="sub9">Громадянство:</label>
                                <select class="form-control" id="sub9" ng-model="personGeneralInfoAddModalObj.citizenCountryId" required
                                        ng-options="citizenCountry.id as citizenCountry.name for citizenCountry in allPersonsArrData.citizenCountries">
                                </select>
                            </div>
                            <div class="form-group col-lg-3 col-md-3">
                                <label for="sub10">Громадянський стан:</label>
                                <select id="sub10" class="form-control" ng-model="personGeneralInfoAddModalObj.marriedTypeId" required
                                        ng-options="marriedType.id as marriedType.name for marriedType in allPersonsArrData.marriedTypes">
                                </select>
                            </div>
                            <div class="form-group col-lg-3 col-md-3">
                                <label for="sub11">Стать:</label>
                                <select id="sub11" class="form-control" ng-model="personGeneralInfoAddModalObj.genderTypeId" required
                                        ng-options="genderType.id as genderType.name for genderType in allPersonsArrData.genderTypes">
                                </select>
                            </div>
                            <div class="form-group col-lg-3 col-md-3">
                                <label for="sub12">Зайнятість:</label>
                                <select id="sub12" class="form-control" ng-model="personGeneralInfoAddModalObj.personTypeId" required
                                        ng-options="personType.id as personType.name for personType in allPersonsArrData.personsTypes">
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group col-lg-12" style="padding-left: 0;padding-right: 0">
                                    <label for="sub23">Шлях до фото</label>
                                    <input type="text" class="form-control" id="sub23" ng-model="personGeneralInfoAddModalObj.photo" required>
                                </div>
                                <div class="form-group col-lg-5 col-md-5" style="padding-left: 0">
                                    <label class="" for="docSeriesAp">Серія :</label>
                                    <input type="text" class="form-control" id="docSeriesAp" name="docSeriesAp" maxlength="20"
                                           ng-model="personGeneralInfoAddModalObj.docSeries" required>
                                </div>
                                <div class="form-group col-lg-7 col-md-7" style="padding-left: 0;padding-right: 0">
                                    <label class="" for="docNumAp">№ :</label>
                                    <input type="text" class="form-control" id="docNumAp" name="docNumAp" maxlength="20"
                                           ng-model="personGeneralInfoAddModalObj.docNum" required>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-md-4">
                                <br>
                                <div class="form-group col-lg-12">
                                    <input id="sub6" type="checkbox" ng-model="personGeneralInfoAddModalObj.isMilitary"
                                           ng-true-value="1" ng-false-value="0" ng-change="">
                                    <label for="sub6">Військовозобовязаний</label>
                                </div>
                                <div class="form-group col-lg-12">
                                    <input id="sub7" type="checkbox" ng-model="personGeneralInfoAddModalObj.isHostel"
                                           ng-true-value="1" ng-false-value="0" ng-change="">
                                    <label for="sub7">Гуртожиток</label>
                                </div>
                                <div class="form-group col-lg-12">
                                    <input id="sub8" type="checkbox" ng-model="personGeneralInfoAddModalObj.resident"
                                           ng-true-value="1" ng-false-value="0" ng-change="">
                                    <label for="sub8">Резидент</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" ng-disabled="addNewPersonModalForm.$invalid" class="btn btn-primary border-radius-0 border-none" value="Зберегти зміни">
                        <button ng-disabled="addNewPersonModalForm.$invalid" class="btn btn-primary border-radius-0 border-none" ng-click="goToAddress()">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>