<div class="jumbotron" ng-show="isPersonTabSelected(2)">
    <h1>Адреса</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Row</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in tempData">
            <td>{{data}}</td>
            <td>{{data}}</td>
            <td>{{data}}</td>
            <td>{{data}}</td>
        </tr>
        </tbody>
    </table>
</div>

