<div class="container" ng-show="isPropozTabSelected(21)" ng-controller="GeneralViewCTRL">
    <div class="row">
        <div class="col-sm-12 controls">
            <button class="btn btn-primary btn-sm" title="Переглянути деталі обраної пропозиції">
                <span class="glyphicon glyphicon-eye-open glyphicon-white"></span>
                Переглянути
            </button>
            <button class="btn btn-primary btn-sm" ng-click="open()" title="Додати нову пропозицію">
                <span class="glyphicon glyphicon-plus glyphicon-white"></span>
                Додати
            </button>
            <button class="btn btn-primary btn-sm" title="Редагувати обрану пропозиції">
                <span class="glyphicon glyphicon-edit glyphicon-white"></span>
                Редагувати
            </button>
            <button class="btn btn-primary btn-sm" title="Видалити обрану пропозицію" ng-click="removeRow(tempVar)">
                <span class="glyphicon glyphicon-trash glyphicon-white"></span>
                Видалити
            </button>
            <button class="btn btn-primary btn-sm">
                <span class="glyphicon glyphicon-refresh glyphicon-white"></span>
                Оновити
            </button>
            <button class="btn btn-primary btn-sm" title="Переглянути предмети обраної пропозиції" ng-click="test(tempVar)">
                <span class="glyphicon glyphicon-modal-window glyphicon-white"></span>
                Предмети
            </button>
            <button class="btn btn-primary btn-sm" title="Переглянути квоти обраної пропозиції">
                <span class="glyphicon glyphicon-th-list glyphicon-white"></span>
                Квоти
            </button>
            <button class="btn btn-primary btn-sm" id="showSearch" title="Переглянути квоти обраної пропозиції">
                <span class="glyphicon glyphicon-search glyphicon-white"></span>
                фільтр
            </button>
        </div>
        <!-- .controls -->
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12 table-wrapper">
            <table id="proposal-table" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            <a href="" ng-click="orderByField='specialtyId'; reverseSort = !reverseSort">
                                Спеціальність</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='departmentId'; reverseSort = !reverseSort">
                                Підрозділ</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='timePeriodId'; reverseSort = !reverseSort">
                            Курс</a>
                        </th>
                        <th title="Кваліфікаційний рівень">
                            <a href="" ng-click="orderByField='specofferTypeId'; reverseSort = !reverseSort">
                                ОКР</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='docSeries'; reverseSort = !reverseSort" title="Серія ліцензії">
                                CЛ</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='docNum'; reverseSort = !reverseSort" title="Номер ліцензії">
                                НЛ</a></th>
                        <th>
                            <a href="" ng-click="orderByField='parentId'; reverseSort = !reverseSort" title="Додаток до ліцензії">
                                Додаток</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='eduFormTypeId'; reverseSort = !reverseSort">
                                Форма навчання</a>
                        </th>
                        <th title="Кількість ліцензованих місць">
                            <a href="" ng-click="orderByField='licCount'; reverseSort = !reverseSort">
                                КЛМ</a>
                        </th>
                        <th title="Кількість місць державного замовлення">
                            <a href="" ng-click="orderByField='stateCount'; reverseSort = !reverseSort">
                                ДЗ</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='timePeriodCourseId'; reverseSort = !reverseSort" title="Термін навчання">
                            Терм. навч</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='begDate'; reverseSort = !reverseSort">
                                Дата &nbsp;початку&nbsp;</a>
                        </th>
                        <th>
                            <a href="" ng-click="orderByField='endDate'; reverseSort = !reverseSort">
                                Дата закінчення</a>
                        </th>
                        <th>Управління пропозиції</th>
                    </tr>
                </thead>
                <!-- thead -->
                <tbody>
                <tr class="search-row" id="search-row">
                    <td><input type="text" ng-model="searchKeyword.specialtyId"/></td>
                    <td><input type="text" ng-model="searchKeyword.departmentId"/></td>
                    <td><input type="text" ng-model="searchKeyword.timePeroiodId"/></td>
                    <td><input type="text" ng-model="searchKeyword.specofferTypeId"/></td>
                    <td><input type="text" ng-model="searchKeyword.docSeries"/></td>
                    <td><input type="text" ng-model="searchKeyword.docNum"/></td>
                    <td><input type="text" ng-model="searchKeyword.parentId"/></td>
                    <td><input type="text" ng-model="searchKeyword.eduFormTypeId"/></td>
                    <td><input type="text" ng-model="searchKeyword.licCount"/></td>
                    <td><input type="text" ng-model="searchKeyword.stateCount"/></td>
                    <td><input type="text" ng-model="searchKeyword.timePeriodCourseId"/></td>
                    <td><input type="text" ng-model="searchKeyword.begDate"/></td>
                    <td><input type="text" ng-model="searchKeyword.endDate"/></td>
                    <td></td>
                </tr>
                <!-- .search-row -->
                <tr ng-repeat="data in tempProposalArray | filter: searchKeyword | orderBy:orderByField:reverseSort"
                    ng-click="setClickedRow($index)"
                    ng-class="{'selected':$index == selectedRow}">
                    <td>{{data.specialtyId}}</td>
                    <td>{{data.departmentId}}</td>
                    <td>{{data.timePeroiodId}}</td>
                    <td>{{data.specofferTypeId}}</td>
                    <td>{{data.docSeries}}</td>
                    <td>{{data.docNum}}</td>
                    <td>{{data.parentId}}</td>
                    <td>{{data.eduFormTypeId}}</td>
                    <td>{{data.licCount}}</td>
                    <td>{{data.stateCount}}</td>
                    <td>{{data.timePeriodCourseId}}</td>
                    <td>{{data.begDate}}</td>
                    <td>{{data.endDate}}</td>
                    <td class="proposal-controls">
                        <button class="btn btn-primary btn-xs" title="Переглянути предмети для даної пропозиції" ng-click="test($index)">
                            <span class="glyphicon glyphicon-modal-window"></span>
                        </button>
                        <button class="btn btn-primary btn-xs" title="Переглянути квоти для даної пропозиції">
                            <span class="glyphicon glyphicon-th-list"></span>
                        </button>
                        <button class="btn btn-primary btn-xs" title="Редагувати пропозицію">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button class="btn btn-primary btn-xs" title="Видалити пропозицію" data-ng-click="removeRow($index)">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </td>
                </tr>
                </tbody>
                <!-- tbody -->
            </table>
            <!-- #proposal-table -->
        </div>
        <!-- .table-wrapper -->
    </div>
    <!-- .row -->
</div><!-- .container -->



