.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.controls {
    margin: 5px 0;
}

#proposal-table {
    width: 100%;
}

.search-row td {
    position: relative;
    height: 27px;
}

.search-row td input {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

#proposal-table th, #proposal-table td {
    text-align: center;
    vertical-align: baseline;
}

#proposal-table th {
    font-weight: bold;
}

