<div>
    <div class="navbar navbar-inverse navbar-static-top custom-nav-header">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="brand" href="#" ng-click="selectTab(1)">{{brand}}</a>
            </div><!--/.navbar-header-->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" ng-show="isLoggedIn">
                    <li ng-class="{active:isSelected(1)}">
                        <a href="#" ng-click="selectTab(1)">{{personViewModel}}</a>
                    </li>
                    <li ng-class="{active:isSelected(2)}">
                        <a href="#" ng-click="selectTab(2)">{{propositionViewModel}}</a>
                    </li>
                    <li>
                        <a href="#" ng-click="logout()">Вийти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-include="'personsTable/personsTableView.html'"></div>
    <login-content></login-content>

    <proposition-content></proposition-content>
</div>