<div>
    <div class="modal-header">
        <button type="button" class="btn-text btn-primary pull-right border-none" ng-click="close()" aria-hidden="true">
            <span title="Закрити" class="glyphicon glyphicon-remove"></span>
        </button>
        <h4>Додати пропозицію на вступ</h4>
    </div>
    <div class="modal-body">
        <form name="addProposalForm" class="form-horizontal" ng-submit="addProposalForm.$valid && addNewProposal()" novalidate>
            <div class="form-group">
                <label class="control-label col-xs-3" for="proposalName">Назва</label>

                <div class="col-xs-9">
                    <input class="form-control" ng-model="specialtyId" type="text" id="proposalName" placeholder="Назва пропозиції" required
                           autofocus/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="proposalDepartment" title="Стуктурний підрозділ">
                    Стр. підрозділ*</label>

                <div class="col-xs-9">
                    <select class="form-control" id="proposalDepartment" 
                            ng-model="proposalDepartment" 
                            ng-options="department.name for department in departmens" required>
                        <option value>Виберіть департамент</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="eduForm">Форма навчання*</label>

                <div class="col-xs-9">
                    <select class="form-control" id="eduForm"
                            ng-model="eduForm"
                            ng-options="form.name for form in forms" required>
                        <option value>Виберіть форму навчання</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="specofferType">Кваліфікаційний рівень*</label>

                <div class="col-xs-9">
                    <select class="form-control" id="specofferType"
                            ng-model="specofferType"
                            ng-options="type.name for type in types" required>
                        <option value>Виберіть кваліфікаціий рівень</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="timePeriod">Курс зарахування*</label>

                <div class="col-xs-2">
                    <select class="form-control" id="timePeriod" title="Виберіть курс зарахування"
                            ng-model="timePeriod"
                            ng-options="time.name for time in times">
                        <option value>Курс</option>
                    </select>
                </div>
                <label class="control-label col-xs-3">Термін навчання*</label>

                <div class="col-xs-2">
                    <div class="input-group">
                        <input class="form-control" ng-model="timePeriodId" type="text" placeholder="років" title="Введіть кількість років"/>
                        <span class="input-group-addon">років</span>
                    </div>
                </div>

                <div class="col-xs-2">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="міс." title="Введіть кількість місяців"/>
                        <span class="input-group-addon">місяців</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="begDate">Дата початку навчання*</label>

                <div class="col-xs-3">
                    <input class="form-control" ng-model="begDate" id="begDate" type="text" placeholder="дд.мм.рррр"/>
                </div>
                <label class="control-label col-xs-3" for="endDate">Дата закінчення навчання*</label>

                <div class="col-xs-3">
                    <input class="form-control" ng-model="endDate" id="endDate" type="text" placeholder="дд.мм.рррр"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="docSeries">Серія ліцензії</label>

                <div class="col-xs-3">
                    <input class="form-control" ng-model="docSeries" type="text" id="docSeries" placeholder="Серія"/>
                </div>

                <label class="control-label col-xs-3" for="docNum">Номер ліцензії</label>

                <div class="col-xs-3">
                    <input class="form-control" ng-model="docNum" type="text" id="docNum" placeholder="Номер"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="parentId">Додаток до ліцензії</label>

                <div class="col-xs-9">
                    <select class="form-control" id="parentId"
                            ng-model="parentId"
                            ng-options="parent.name for parent in parents" required>
                        <option value>Виберіть додаток до ліцензії</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3" for="stateCount">Держзамовлення</label>

                <div class="col-xs-3">
                    <input class="form-control" ng-model="stateCount" id="stateCount" type="text"
                           placeholder="Кількість місць" title="Введіть кількість державних місць"/>
                </div>
                <label class="control-label col-xs-3" for="licCount">Ліцензійний обсяг</label>

                <div class="col-xs-3">
                    <input class="form-control" ng-model="licCount" id="licCount" type="text" placeholder="Кількість місць"
                           title="Введіть кількість ліцензійних місць"/>
                </div>
            </div>
            <div>form is {{addProposalForm.$valid}}</div>
        </form>
        <!-- addProposalForm -->
    </div>
    <div class="modal-footer">
        <button class="btn" type="submit">Додати</button>
        <button class="btn" ng-click="close()">Закрити</button>
    </div>
</div>