
<div class="row" ng-show="isPersonTabSelected(7)">
    <div class="col-sm-12">

        <!-- Let user choose how many persons are supposed to be shown-->
        <div id="testtablezno_wrapper" class="dataTables_wrapper form-inline dt_bootstrap">
        <div class="col-sm-6">
        <div class="dataTables_length" id="testTableszno_length">
            <label> Показати
            <select name="testtablezno_length" aria-controls="testtable" class="form-control input-sm">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                записів
            </label>
            </div>
        </div>

        <div class="row">
            <div class="co-sm-12">
        <table id="testtablezno" class="table table-striped table-bordered" cellspacing="0" width="100%" role="grid" aria-describedby="testtable_info" style="width:100%" >
            <thead>
            <tr role="row">

                <th class="sorting" tabindex="0" aria-controls="testtable" rowspan="1" colspan="1" aria-label="Position: активувати для сортування стовпці по зростанню" style="width: 294px;" aria-sort="descending">Прізвище</th>
                <th class="sorting" tabindex="0" aria-controls="testtable" rowspan="1" colspan="1" aria-label="Office: активувати для сортування стовпці по зростанню" style="width: 140px;">Ім'я</th>
                <th class="sorting" tabindex="0" aria-controls="testtable" rowspan="1" colspan="1" aria-label="Age: активувати для сортування стовпці по зростанню" style="width: 67px;">По батькові</th>
                <th class="sorting" tabindex="0" aria-controls="testtable" rowspan="1" colspan="1" aria-label="Start date: активувати для сортування стовпці по зростанню" style="width: 128px;">Паспорт</th>
                <th class="sorting" tabindex="0" aria-controls="testtable" rowspan="1" colspan="1" aria-label="Salary: активувати для сортування стовпці по зростанню" style="width: 109px;">Сертифікат за предмет №1</th>
                <th class="sorting" tabindex="0" aria-controls="testtable" rowspan="1" colspan="1" aria-label="Salary: активувати для сортування стовпці по зростанню" style="width: 109px;">Сертифікат за предмет №2</th>
                <th class="sorting" tabindex="0" aria-controls="testtable" rowspan="1" colspan="1" aria-label="Salary: активувати для сортування стовпці по зростанню" style="width: 109px;">Сертифікат за предмет №3</th>
            </tr>
            </thead>
            <tfoot>
            <tr>

                <th rowspan="1" colspan="1"> Прізвище</th>
                <th rowspan="1" colspan="1">Ім'я</th>
                <th rowspan="1" colspan="1">По батькові</th>
                <th rowspan="1" colspan="1">Паспорт</th>
                <th rowspan="1" colspan="1">Сертифікат за предмет №1</th>
                <th rowspan="1" colspan="1">Сертифікат за предмет №2</th>
                <th rowspan="1" colspan="1">Сертифікат за предмет №3</th>


            </tr>
            </tfoot>
            <tbody>
            <tr role="row" class="odd">

                <td>Ерстенюк</td>
                <td>Вікторія</td>
                <td>Віталіївна</td>
                <td>СЕ0000</td>
                <td>111222333</td>
                <td>444555666</td>
                <td>777888999</td>
            </tr>
            <tr role="row" class="odd">
                <td>Дмитрук</td>
                <td>Іван</td>
                <td>Ваcильович</td>
                <td>СЕ0000</td>
                <td>111222333</td>
                <td>444555666</td>
                <td>777888999</td>
            </tr>
            <tr role="row" class="odd">

                <td>Матусевич</td>
                <td>Ірина</td>
                <td>Романівна</td>
                <td>СЕ0000</td>
                <td>111222333</td>
                <td>444555666</td>
                <td>777888999</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
        Редагувати дані ЗНО
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Редагувати дані ЗНО</h4>
                </div>
                <div class="modal-body">
                    Поля і всяка блаблабла
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Закрити</button>
                    <button type="button" class="btn btn-primary btn-sm">Зберегти зміни</button>
                </div>
            </div>
        </div>
    </div>
</div>





