<div class="modal fade" id="editNewPersonModal" tabindex="-1" role="dialog" aria-labelledby="editNewPersonModal"
     aria-hidden="true" ng-controller="EditNewPersonModalCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editNewPersonModalLabel">Редагування персони: {{personGeneralInfoEditModalObj.name}}</h4>
            </div>
            <div class="modal-body">
                <form name="editNewPersonModalForm" role="form" ng-submit="editPerson('#editNewPersonModal')" class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-4">
                            <label for="sub1">Прізвище</label>
                            <input type="text" class="form-control" id="sub1"  ng-model="personGeneralInfoEditModalObj.firstName"
                                   value="{{personGeneralInfoEditModalObj.firstName}}">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label for="sub2">Імя</label>
                            <input type="text" class="form-control" id="sub2"  ng-model="personGeneralInfoEditModalObj.surname"
                                   value="{{personGeneralInfoEditModalObj.surname}}">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label for="sub3">По-батькові</label>
                            <input type="text" class="form-control" id="sub3" ng-model="personGeneralInfoEditModalObj.fatherName"
                                   value="{{personGeneralInfoEditModalObj.fatherName}}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-8 col-md-8">
                            <label for="sub4">Місце Народження</label>
                            <input type="text" class="form-control" id="sub4" ng-model="personGeneralInfoEditModalObj.birthPlace"
                                   value="{{personGeneralInfoEditModalObj.birthPlace}}">
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <label class="col-lg-12 col-md-12">Дата Народження:</label>
                            <input type="number"  min="1" max="31" placeholder="день" ng-maxlength="2"
                                   class="form-control wtd-33 dspl-inline" id="day"  value="{{personGeneralInfoEditModalObj.day}}"
                                   ng-model="personGeneralInfoEditModalObj.day" required>
                            <input type="number"  min="1" max="12" placeholder="місяць" ng-maxlength="2"
                                   class="form-control wtd-33 dspl-inline" id="month"  value="{{personGeneralInfoEditModalObj.month}}"
                                   ng-model="personGeneralInfoEditModalObj.month" required>
                            <input type="number"  min='0' max="9999" placeholder="рік" ng-maxlength="4"
                                   class="form-control wtd-33 dspl-inline" id="year"  value="{{personGeneralInfoEditModalObj.year}}"
                                   ng-model="personGeneralInfoEditModalObj.year" required>

                            <!--<input type="date" class="form-control" id="sub5" ng-model="personGeneralInfoEditModalObj.begDate"-->
                                   <!--value="{{personGeneralInfoEditModalObj.begDate}}">-->
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3 col-md-3">
                            <label for="sub9">Громадянство:</label>
                            <select class="form-control" id="sub9" ng-model="personGeneralInfoEditModalObj.citizenCountryId"
                                    ng-options="citizenCountry.id as citizenCountry.name for citizenCountry in allPersonsArrData.citizenCountries"
                                    value="{{citizenCountry2[personGeneralInfoEditModalObj.citizenCountryId]}}">

                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-3">
                            <label for="sub10">Громадянський стан:</label>
                            <select id="sub10" class="form-control" ng-model="personGeneralInfoEditModalObj.marriedTypeId"
                                    ng-options="marriedType.id as marriedType.name for marriedType in allPersonsArrData.marriedTypes"
                                    value="{{citizenCountry2[personGeneralInfoEditModalObj.marriedTypeId]}}">
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-3">
                            <label for="sub11">Стать:</label>
                            <select id="sub11" class="form-control" ng-model="personGeneralInfoEditModalObj.genderTypeId"
                                    ng-options="genderType.id as genderType.name for genderType in allPersonsArrData.genderTypes"
                                    value="{{citizenCountry2[personGeneralInfoEditModalObj.genderTypeId]}}">
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-md-3">
                            <label for="sub12">Зайнятість:</label>
                            <select id="sub12" class="form-control" ng-model="personGeneralInfoEditModalObj.personTypeId"
                                    ng-options="personsType.id as personsType.name for personsType in allPersonsArrData.personsTypes"
                                    value="{{citizenCountry2[personGeneralInfoEditModalObj.personsTypesArr]}}">>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group col-lg-12" style="padding-left: 0;padding-right: 0">
                                <label for="sub23">Шлях до фото</label>
                                <input type="text" class="form-control" id="sub23" ng-model="personGeneralInfoEditModalObj.photo"
                                       value="{{personGeneralInfoEditModalObj.photo}}">
                            </div>
                            <div class="form-group col-lg-5 col-md-5" style="padding-left: 0">
                                <label class="" for="ser2">Серія :</label>
                                <input type="text" class="form-control" id="ser2" ng-model="personGeneralInfoEditModalObj.docSeries"
                                       value="{{personGeneralInfoEditModalObj.docSeries}}">
                            </div>
                            <div class="form-group col-lg-7 col-md-7" style="padding-left: 0;padding-right: 0">
                                <label class="" for="num2">№ :</label>
                                <input type="text" class="form-control" id="num2" ng-model="personGeneralInfoEditModalObj.docNum"
                                       value="{{personGeneralInfoEditModalObj.docNum}}">
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-md-4">
                            <br>
                            <div class="form-group col-lg-12">
                                <input id="sub6" type="checkbox" ng-model="personGeneralInfoEditModalObj.isMilitary"
                                       ng-true-value="1" ng-false-value="0" ng-change=""
                                       value="{{personGeneralInfoEditModalObj.isMilitary}}">
                                <label for="sub6">Військовозобовязаний</label>
                            </div>
                            <div class="form-group col-lg-12">
                                <input id="sub7" type="checkbox" ng-model="personGeneralInfoEditModalObj.isHostel"
                                       ng-true-value="1" ng-false-value="0" ng-change=""
                                       value="{{personGeneralInfoEditModalObj.isHotel}}">
                                <label for="sub7">Гуртожиток</label>
                            </div>
                            <div class="form-group col-lg-12">
                                <input id="sub8" type="checkbox" ng-model="personGeneralInfoEditModalObj.resident"
                                       ng-true-value="1" ng-false-value="0" ng-change=""
                                       value="{{personGeneralInfoEditModalObj.resident}}">
                                <label for="sub8">Резидент</label>
                            </div>
                        </div>
                        <div class="form-group col-lg-2 col-md-2">
                            <br>
                            <!--<div class="form-group col-lg-12">-->
                            <!--<img height="120px" width="90px" src="{{personGeneralInfoAddModalObj.photo}}">-->
                            <!--</div>-->
                        </div>

                    </div>
                    <div class="">
                        <input type="submit" class="btn btn-primary border-radius-0 border-none" value="Зберегти зміни">
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>