<div class="modal fade" id="addNewPersonModal" tabindex="-1" role="dialog" aria-labelledby="addNewPersonModal"
     aria-hidden="true" ng-controller="AddNewPersonModalCtrl">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addNewPersonModalLabel">Додати нову персону</h4>
            </div>
            <div class="modal-body">
                <form name="addNewPersonModalForm" role="form" ng-submit="addNewPerson()" class="form-group">
                    <div class="row">
                        <div class="form-group col-lg-4">
                            <label for="sub1">Прізвище</label>
                            <input type="text" class="form-control" id="sub1" ng-model="tempModalPerson.firstName">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="sub2">Імя</label>
                            <input type="text" class="form-control" id="sub2" ng-model="tempModalPerson.surname">
                        </div>
                        <div class="form-group col-lg-4">
                            <label for="sub3">По-батькові</label>
                            <input type="text" class="form-control" id="sub3" ng-model="tempModalPerson.fatherName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="f4">Мова:</label>
                            <select class="form-control" id="f4" ng-model="tempModalPersonF.languageId"
                            ng-options="trueFalse.id as trueFalse.name for trueFalse in languagesArr">
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="f1">Прізвище</label>
                            <input type="text" class="form-control" id="f1" ng-model="tempModalPersonF.firstName">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="f2">Імя</label>
                            <input type="text" class="form-control" id="f2" ng-model="tempModalPersonF.surname">
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="f3">По-батькові</label>
                            <input type="text" class="form-control" id="f3" ng-model="tempModalPersonF.fatherName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-6">
                            <label for="sub4">Місце Народження</label>
                            <input type="text" class="form-control" id="sub4" ng-model="tempModalPerson.birthPlace">
                        </div>
                        <div class="form-group col-lg-6">
                            <label for="sub5">Дата Народження:</label>
                            <input type="date" class="form-control" id="sub5" ng-model="tempModalPerson.begDate">
                        </div>
                    </div>
                    <div class="row">

                        <div class="form-group col-lg-3">
                            <label for="sub9">Громадянство:</label>
                            <select class="form-control" id="sub9" ng-model="tempModalPerson.citizenCountryId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in citizenCountryArr">
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="sub10">Громадянський стан:</label>
                            <select id="sub10" class="form-control" ng-model="tempModalPerson.marriedTypeId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in marriedTypeArr">
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="sub11">Стать:</label>
                            <select id="sub11" class="form-control" ng-model="tempModalPerson.genderTypeId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in genderTypesArr">
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label for="sub12">Зайнятість:</label>
                            <select id="sub12" class="form-control" ng-model="tempModalPerson.personTypeId"
                                    ng-options="trueFalse.id as trueFalse.name for trueFalse in personsTypesArr">
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="sub23">Шлях до фото</label>
                            <input type="text" class="form-control" id="sub23" ng-model="tempModalPerson.photo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-3">
                            <label for="sub6">Військовозобовязаний:</label>
                            <input id="sub6" type="checkbox" class="checkbox-inline" ng-model="tempModalPerson.isMilitary" ng-true-value="1"
                                   ng-false-value="0" ng-change="">    <!--</select>-->
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="sub7">Гуртожиток:</label>
                            <input id="sub7" type="checkbox" class="checkbox-inline" ng-model="tempModalPerson.isHotel" ng-true-value="1"
                                   ng-false-value="0" ng-change="">    <!--</select>-->
                        </div>
                        <div class="form-group col-lg-2">
                            <label for="sub8">Резидент:</label>
                            <input id="sub8" type="checkbox" class="checkbox-inline" ng-model="tempModalPerson.resident" ng-true-value="1"
                                   ng-false-value="0" ng-change="">    <!--</select>-->
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="" for="ser2">Серія :</label>
                            <input type="text" class="form-control" id="ser2" ng-model="tempModalPerson.docSeries">
                        </div>
                        <div class="form-group col-lg-3">
                            <label class="" for="num2">№ :</label>
                            <input type="text" class="form-control" id="num2" ng-model="tempModalPerson.docNum">
                        </div>

                        <!--<select id="sub6" ng-model="tempModalPerson.isMilitary"-->
                        <!--ng-options="trueFalse as trueFalse.name for trueFalse in trueFalseArr">-->
                        <!--</select>-->

                    </div>

                    <input type="submit" class="btn btn-primary btn-sm" value="Зберегти зміни">
                </form>
                <div class="">
                    <!--<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">-->
                    <!--Закрити-->
                    <!--</button>-->
                    <!--<button type="button" class="btn btn-primary btn-sm" ng-click="addNewPerson()">Зберегти зміни</button>-->
                </div>
            </div>

        </div>
    </div>
</div>